@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply border border-gray-300 rounded px-3 py-2 w-full text-sm focus:outline-none focus:ring-2 focus:ring-red-700;
}
.button {
  @apply bg-red-700 text-white font-semibold px-4 py-2 rounded hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-red-700;
}